# API do Pandas no Spark

A API do Pandas no Spark permite que cientistas de dados e engenheiros de dados executem seu código Pandas existente no Spark. O que diferencia a maior parte dos casos é a forma como é feita a importação da biblioteca. Antes desta API, era necessário reescrever significativamente o código considerando a biblioteca PySpark, o que é demorado e propenso a erros. A API do Pandas no Spark tem a mesma sintaxe do Pandas, mas usa um DataFrame do PySpark por baixo dos panos. Isso significa que o código escrito com a API pode ser executado em um grande cluster de nós onde o Spark está configurado para lidar com grandes conjuntos de dados.

## Aula 1

Nesta aula trabalhamos com a leitura e visualização das primeiras linhas de dados presentes no DataFrame.

### Vídeo 1.2 - Conhecendo o problema

In [ ]:
local_do_arquivo = '/FileStore/cursos_prouni.csv'

In [ ]:
import pyspark.pandas as ps

df = ps.read_csv(local_do_arquivo, index_col='curso_id')

In [ ]:
df.head()

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
curso_id,,,,,,,,,,,,,,,,,,,
706710394154,Bacharelado,Integral,9999.99,15,14.0,NaN,NaN,Medicina,Campo Grande,MS,NTAwMjAwNDAyNzA0,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,NaN,NaN
104191210567043,Bacharelado,Noturno,9836.40,1,NaN,NaN,NaN,Enfermagem,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,NaN,NaN,NaN
1002328574024,Bacharelado,Integral,9715.61,2,5.0,6.0,10.0,Medicina,Sao Paulo,SP,MzUxNTA2MTUwMzA4,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
104191212798093,Bacharelado,Noturno,9689.34,3,2.0,NaN,NaN,Psicologia,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,NaN,NaN
65899611932754,Bacharelado,Integral,9674.34,4,1.0,5.0,2.0,Medicina,Rio Branco,AC,MTIwMjAwNDAwNDAx,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26

In [ ]:
df.shape

Out[110]: (41447, 19)

In [ ]:
df['curso_busca'].equals(df['nome']).sum()

Out[111]: 41447

In [ ]:
df = df.drop(['curso_busca'],axis=1)

In [ ]:
df.head()

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
curso_id,,,,,,,,,,,,,,,,,,
706710394154,Bacharelado,Integral,9999.99,15,14.0,NaN,NaN,Campo Grande,MS,NTAwMjAwNDAyNzA0,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,NaN,NaN
104191210567043,Bacharelado,Noturno,9836.40,1,NaN,NaN,NaN,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,NaN,NaN,NaN
1002328574024,Bacharelado,Integral,9715.61,2,5.0,6.0,10.0,Sao Paulo,SP,MzUxNTA2MTUwMzA4,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
104191212798093,Bacharelado,Noturno,9689.34,3,2.0,NaN,NaN,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,NaN,NaN
65899611932754,Bacharelado,Integral,9674.34,4,1.0,5.0,2.0,Rio Branco,AC,MTIwMjAwNDAwNDAx,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26

In [ ]:
df = df.rename(columns={'nome':'nome_curso'})

In [ ]:
df.head()

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome_curso,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
curso_id,,,,,,,,,,,,,,,,,,
706710394154,Bacharelado,Integral,9999.99,15,14.0,NaN,NaN,Campo Grande,MS,NTAwMjAwNDAyNzA0,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,NaN,NaN
104191210567043,Bacharelado,Noturno,9836.40,1,NaN,NaN,NaN,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,NaN,NaN,NaN
1002328574024,Bacharelado,Integral,9715.61,2,5.0,6.0,10.0,Sao Paulo,SP,MzUxNTA2MTUwMzA4,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
104191212798093,Bacharelado,Noturno,9689.34,3,2.0,NaN,NaN,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,NaN,NaN
65899611932754,Bacharelado,Integral,9674.34,4,1.0,5.0,2.0,Rio Branco,AC,MTIwMjAwNDAwNDAx,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26

### Vídeo 1.3 - Operações e opções

In [ ]:
df[df['nome_curso']=='Medicina']['nome_curso'].count()

Out[116]: 124

In [ ]:
df['turno'].unique()

Out[117]: 0             Matutino
1    Curso a Distância
2           Vespertino
3             Integral
4              Noturno
Name: turno, dtype: object

In [ ]:
df[(df['turno']=='Integral') & (df['nome_curso']=='Medicina')]['nome_curso'].count()

Out[118]: 123

In [ ]:
df[(df['turno']=='Integral') & (df['nome_curso']=='Medicina') | (df['turno']=='Matutino') & (df['nome_curso']=='Medicina') ]['nome_curso'].count()

Out[119]: 124

In [ ]:
local_do_arquivo = '/FileStore/tables/reajuste.csv'
df_mensalidade = ps.read_csv(local_do_arquivo)

In [ ]:
df_mensalidade.head()

,reajuste
0,100
1,50
2,100
3,50
4,100

In [ ]:
df_mensalidade.shape

Out[122]: (41447, 1)

In [ ]:
ps.set_option('compute.ops_on_diff_frames',True)

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df['mensalidade'] = df['mensalidade']+df_mensalidade['reajuste']

### Vídeo 1.4 - Resumo do DataFrame

In [ ]:
df.dropna(inplace=True)
df.head()

,curso_id,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome_curso,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
1950,65982912800701,Bacharelado,Matutino,1561.29,1,1,1,30,Caucaia,CE,MjMwMzAxNjAzNzA5,Faculdade Terra Nordeste - FATENE,UNIDADE SEDE - Soledade,659829,Engenharia Civil,688.70,693.02,450.00,450.00
8440,65928650009893,Bacharelado,Noturno,980.00,1,1,3,2,Sao Gotardo,MG,MzEwNTAyMDYyMTA0,Faculdade de Ciências Gerenciais de São Gotard...,UNIDADE SEDE - Boa Esperança,659286,Direito,638.94,612.92,608.26,579.50
9458,658024423323,Bacharelado,Noturno,927.00,2,1,3,2,Dourados,MS,NTAwNDAxMDAzNzAy,Centro Universitário da Grande Dourados - Unig...,DOURADOS - Jardim,658024,Psicologia,631.32,609.34,618.58,557.68
11190,1072630671593,Bacharelado,Noturno,829.00,6,5,10,9,Juiz de Fora,MG,MzExMjA2NTM2NzAy,Faculdade Doctum de Juiz de Fora - DOCTUM,CAMPUS APOGEU - Centro,1072630,Direito,669.40,632.94,615.56,584.58
17979,69558711774842,Tecnológico,Vespertino,543.00,1,1,1,1,Rio Branco,AC,MTIwMjAwNDAwNDAx,Faculdade da Amazônia Ocidental - FAAO,CAMPUS - RIO BRANCO - JARDIM PRIMAVERA - Jardi...,695587,Análise e Desenvolvimento de Sistemas,615.54,574.42,582.66,623.22

In [ ]:
df.describe()

,curso_id,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,campus_id,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
count,2.203000e+03,2203.000000,2203.000000,2203.000000,2203.000000,2203.000000,2.203000e+03,2203.000000,2203.000000,2203.000000,2203.000000
mean,4.376614e+13,881.605556,1.891058,2.082161,3.387199,7.190649,7.510660e+05,599.380390,574.097921,547.297204,521.452964
std,4.862265e+13,737.440291,1.969321,2.105756,4.020312,13.897084,4.202414e+05,53.194117,59.868058,58.971101,56.371352
min,1.649611e+08,194.000000,1.000000,1.000000,1.000000,1.000000,4.790000e+02,450.000000,450.000000,450.000000,450.000000
25%,6.589496e+11,500.000000,1.000000,1.000000,1.000000,2.000000,6.582050e+05,569.520000,542.220000,507.160000,450.000000
50%,1.002328e+13,773.830000,1.000000,1.000000,2.000000,3.000000,6.596950e+05,602.040000,583.320000,555.240000,526.540000
75%,1.040060e+14,1049.000000,2.000000,2.000000,4.000000,6.000000,1.054619e+06,634.600000,614.340000,588.160000,563.620000
max,2.008254e+14,9815.610000,34.000000,50.000000,74.000000,179.000000,2.008254e+06,781.200000,792.240000,776.360000,768.340000

In [ ]:
df_descricao = df[df['nome_curso'] == 'Medicina'].describe()
df_descricao

,curso_id,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,campus_id,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
count,1.500000e+01,15.000000,15.000000,15.000000,15.000000,15.000000,1.500000e+01,15.000000,15.000000,15.000000,15.000000
mean,4.407875e+13,8007.354667,2.800000,2.266667,4.466667,3.866667,7.599417e+05,753.249333,738.438667,746.453333,724.676000
std,4.349636e+13,1096.173682,1.859339,1.533747,2.587516,2.669047,2.510458e+05,13.109076,16.966989,14.295313,18.302904
min,1.373807e+11,6113.000000,1.000000,1.000000,1.000000,1.000000,1.373800e+05,735.840000,720.200000,729.720000,690.180000
25%,6.584619e+11,7130.000000,1.000000,1.000000,1.000000,2.000000,6.583450e+05,741.360000,729.020000,735.760000,715.100000
50%,6.579365e+13,8295.000000,2.000000,1.000000,5.000000,3.000000,6.600790e+05,754.980000,737.880000,743.140000,721.080000
75%,7.070341e+13,8608.540000,4.000000,3.000000,6.000000,5.000000,1.041237e+06,762.740000,741.100000,750.440000,732.460000
max,1.058879e+14,9815.610000,8.000000,5.000000,9.000000,10.000000,1.079920e+06,781.200000,792.240000,776.360000,768.340000

In [ ]:
df_descricao_bolsa = df_descricao.drop(['mensalidade','curso_id','campus_id',"nota_integral_ampla", "nota_integral_cotas", "nota_parcial_ampla", "nota_parcial_cotas"],axis=1)
df_descricao_bolsa = df_descricao_bolsa.drop(['count'],axis=0)

In [ ]:
df_descricao_bolsa.style.format('{:,.2f}').background_gradient(axis=1)

,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla
mean,2.80,2.27,4.47,3.87
std,1.86,1.53,2.59,2.67
min,1.00,1.00,1.00,1.00
25%,1.00,1.00,1.00,2.00
50%,2.00,1.00,5.00,3.00
75%,4.00,3.00,6.00,5.00
max,8.00,5.00,9.00,10.00